################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AppCalculo
/bin/Debug
/obj/Debug
/bin/Release
/obj/Release
